<!DOCTYPE html>
<html>
<head>
  <title>ExSeats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if Rails.env.development? %>
      <%= stylesheet_link_tag    'development', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'development', 'data-turbolinks-track' => true %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
